<h1>{{pageHeader.title}}</h1>
<p>{{pageHeader.strapline}}</p>

<ul>
    {{#each trips}}
    <li>
        <h3>{{name}}</h3>
        <p>{{description}}</p>
        <p>{{length}}</p>
        <p>{{price}}</p>
    </li>
    {{/each}}
</ul>